.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */

.card-container {
  background-color: #ffffff;
  margin-bottom: 40px;
  margin-left: 40px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 30vw;
  border-radius: 15px;
}

.card-title {
  font-size: 18px;
  font-weight: 600;
  font-family: 'Roboto';
}

.card-description {
  font-size: 12px;
  font-family: 'Roboto';
  color: #64748b;
}

.image-size {
  height: 80px;
  width: 80px;
  align-self: flex-end;
}

@media (max-width: 991px) {
  .card-container {
    margin-left: 0px;
    width: 80vw;
  }
}
